<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <nav>
        <div>
            <div>
                <p><a href="/">MC Schedule</a></p>
            </div>
        </div>
    </nav>
    <main class="business-setup-main">
        <p class="main-font">Now lets set up your business profile</p>
        <p class="main-font">What's your business name?</p>
        <form class="business-setup-form" action="">
            <input type="text" required>
            <button class="add-business-btn">Next</button>
        </form>
    </main>
</body>
</html>