<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <nav>
        <div>
            <div>
                <p><a href="/">MC Schedule</a></p>
            </div>
        </div>
    </nav>
    <table>
        <tr>
            <td>m</td>
            <td>t</td>
            <td>w</td>
            <td>t</td>
            <td>f</td>
            <td>s</td>
            <td>s</td>
        </tr>
        <tr>
            <td>m</td>
            <td>t</td>
            <td>w</td>
            <td>t</td>
            <td>f</td>
            <td>s</td>
            <td>s</td>
        </tr>
        <tr>
            <td>m</td>
            <td>t</td>
            <td>w</td>
            <td>t</td>
            <td>f</td>
            <td>s</td>
            <td>s</td>
        </tr>
        <tr>
            <td>m</td>
            <td>t</td>
            <td>w</td>
            <td>t</td>
            <td>f</td>
            <td>s</td>
            <td>s</td>
        </tr>
        <tr>
            <td>m</td>
            <td>t</td>
            <td>w</td>
            <td>t</td>
            <td>f</td>
            <td>s</td>
            <td>s</td>
        </tr>
    </table>
</body>
</html>