<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main-view.css">
    <title>MC Schedule</title>
</head>
<body>
    <nav>
        <div>
            <p><a href="/">MC Schedule</a></p>
        </div>
    </nav>
    
    <%- include ('./partials/calendar.ejs') %>
</body>
</html>