*{
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #035E7B;
    color: #F4F6F6;
    padding: 25px;
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: white;
}

.main-font{
    font-size: 25px;
}

.right-nav{
    display: flex;
    gap: 15px;
    margin-right: 5px;
}

/* Home page */

.home-registration-header{
    background-color:aquamarine;
    padding: 20vh;
}

.registration-header-flex{
    display: flex;
    justify-content: space-between;
    
}

.register-link{
    text-align: center;
    margin-top: 15vh;
}


.grabber-1{
    display: flex;
    gap: 15%;
    background-color: #FF6C47;
    padding: 25px;
    margin-top: 15vh;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 30px;
}

.grabber-1-img{
    width: 20vw;
    height: auto;
    border-radius: 15px;
}

.grabber-1-right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.grabber-2-header{
    text-align: center;
    margin-top: 25vh;
}

.grabber-2-text{
    display: flex;
    gap: 75px;
    margin-left: 45px;
    margin-right: 45px;
    padding: 15px;
}

.grabber-2-left{
    text-align: center;

}

.grabber-border{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #4C956C;
    border-radius: 30px;
    height: 25vw;
    padding: 15px;
}

.grabber-3A{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    margin: 25px;
}

/* Login section */

.login-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20vh;
    background-color: #4C956C;
    margin-left: 20vw;
    margin-right: 20vw;
    padding: 35px;
    border-radius: 45px;
}

.login-form{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 25px;

}

.login-form > button{
    border-radius: 25px;
    width: 9vw;
    height: 4vh;
    margin: auto;
    margin-top: 5px;
    background-color: #FF6C47;

}

.form-input{
    margin: 10px;
}

/* Sign up page */

.create-account-header{
    font-size: 30px;
    text-align: center;
}

.create-div{
    display: flex;
    margin: auto;
    margin-top: 25vh;
    text-align: center;
    background-color: #4C956C;
    margin-left: 20vw;
    margin-right: 20vw;
    padding: 35px;
    border-radius: 45px;
}

.create-form{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.create-form > input{
    margin: 10px;
}

.create-form > button{
    border-radius: 25px;
    width: 9vw;
    height: 4vh;
    margin: auto;
    margin-top: 5px;
    background-color: #FF6C47;
}

/* business setup page */
.business-setup-main{
    background-color: #4C956C;
    border-radius: 25px;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    margin-left: 25vw;
    margin-right: 25vw;
    height: 55vh;
}

.business-setup-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
    margin-top: 15vh;
}

.business-setup-form > input{
    padding: 10px;
    font-size: 20px;
}

.add-business-btn{
    margin-top: 15vh;
    background-color: #FF6C47;
    border-radius: 25px;
    padding: 10px;
    font-size: 20px;
}

/* calender */

.calender-table{
    background-color: grey;
    width: 75vw;
    height: 75vh;
    margin: auto;
    margin-top: 10vh;
}

td{
    border: solid black 2px;
    width: 5vw;
    height: 5vh;
    cursor: pointer;
}